<div class="profile-card">
  <div class="avatar-name">
    <img
      src="assets/imgs/avatar-placeholder.png"
      class="profile-card__avatar"
      width="70px"
      alt=""
    />
    <div class="profile-card__name">
      <strong>Райан Гослинг</strong><span class="subtitle">ryan.gosling</span>
    </div>
  </div>
  <div class="profile-card__description">
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nihil corporis
    accusamus saepe iusto eos non exercitationem. Id earum molestias nostrum
    fugit vero? Modi aut quaerat rem non neque provident ipsam. Sint a ipsum
    explicabo aspernatur consectetur, asperiores vitae quaerat perferendis porro
    optio doloribus blanditiis eius. Nulla, eum? Fugit, corrupti impedit
    consectetur similique optio earum ab rerum magnam error eveniet vitae?
  </div>
  <div class="profile-card__tags">
    <div class="skill-tag">HTML</div>
    <div class="skill-tag">SQL</div>
    <div class="skill-tag">JavaScript</div>
    <div class="skill-tag">React</div>
  </div>
  <div class="profile-card__action-btns">
    <button class="btn">Подписаться</button>
  </div>
</div>
