<img src="/assets/svg/logo-small.svg" alt="" class="ml16 mb20" />
<nav>
  <ul class="main-menu-list mb16">
    @for (menuItem of menuItems; track $index) {
    <li></li>
    <li>
      <button class="menu-item">
        <svg [icon]="menuItem.icon"></svg>
        {{ menuItem.label }}
      </button>
    </li>
    }
  </ul>
</nav>

<p class="medium-text">Подписчики</p>

@for (profile of subscribers$ | async; track $index) {
<app-subscriber-card [profile]="profile"></app-subscriber-card>
}

<div class="mt20 to-subscribers">
  <a [routerLink]="['/subscribers']" class="to-subscribers-link medium-text"
    >Все подписчики</a
  >
</div>

<footer class="sidebar__footer">
  @if (me(); as me) { @if (me.avatarUrl) {
  <img [src]="me.avatarUrl | imgUrl" alt="" />
  } @else {
  <img src="/assets/imgs/avatar-placeholder.png" alt="" />
  }

  <div class="medium-text username-text">{{ me.username }}</div>

  <a [routerLink]="['settings']" class="settings-btn">
    <svg icon="settings"></svg>
  </a>
  }
</footer>
